/*LiteO2Tab Vue by wwls*/
a:link {
    color: #F8F8FF;
}

/*超链接默认样式*/
a:visited {
    color: #F8F8FF;
}

/*超链接被访问后的样式*/
a:hover {
    color: #F5F5F5;
}

/*鼠标经过超链接的样式*/
a:active {
    color: #F8F8FF;
}

/*超链接被激活时的样式*/

a {
    text-decoration: none;
    outline: none;
    border: '0';
}

.new {
    background-color: rgb(164, 186, 128);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50px;
    height: 25px;
    position: relative
}

.repair {
    background-color: rgb(219, 198, 147);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50px;
    height: 25px;
    position: relative
}

.conguatulations {
    background-color: rgb(239, 160, 67);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50px;
    height: 25px;
    position: relative
}

.notice {
    color: white
}

.rebuild {
    background-color: rgb(161, 198, 201);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50px;
    height: 25px;
    position: relative
}

.delete {
    background-color: rgb(255, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50px;
    height: 25px;
    position: relative
}
/*tailwind css*/

@tailwind base;
@tailwind components;
@tailwind utilities;

hr.dashed-white {  
    border: 0;  
    border-top: 2px dashed #ffffff79;  
    margin: 20px 0;  
}

input {
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #fff;
    border-radius: 4px;
    backdrop-filter: blur(15px);
    background-color: transparent;
    color: white;
    margin: 0;
    /* 移除外边距 */
    padding: 10px;
    /* 保持内边距一致 */
    box-sizing: border-box;
    border: 2px solid #cccccc4b;
    /* 透明边框 */
}

input[type="input"]:hover {
    border: 2px solid #ccc;
    /* 浅灰色边框，用于鼠标悬停 */
    /* 可以在这里添加其他悬停时的样式 */
}

input[type="input"]:focus {
    border: 2px solid #72b6ff;
    /* 边框颜色和宽度 */
    outline: none;
    /* 移除默认的焦点轮廓 */
    box-shadow: 0 0 5px #b1d9ec;
    /* 可选：添加阴影效果以增强视觉效果 */
}

input[type="input"]::placeholder,
textarea::placeholder {
    color: #fff;
    /* 浅灰色 */
    opacity: 1;
    /* 可选，确保透明度是满的 */
}

input[type="button"]::placeholder
{
    color: #fff;
    /* 浅灰色 */
    opacity: 1;
    /* 可选，确保透明度是满的 */
}
input[type="button"]:hover {
    border: 2px solid #ccc;
    /* 浅灰色边框，用于鼠标悬停 */
    /* 可以在这里添加其他悬停时的样式 */
}
input[type="button"]:active {
    border: 2px solid #979797;
    background-color: #848484;
}